<h1 id="title" class="text-center p-3 bg-primary text-white rounded">My Personal Page</h1>

<div class="row mb-4">
  <div class="col-md-8">
    <div class="card h-100">
      <div class="card-header bg-primary text-white">
        <h2 class="h4 mb-0">Home</h2>
      </div>
      <div class="card-body">
        
        <p><strong>Name:</strong> Bastián Cepeda</p>
        <p><strong>Major:</strong> Civil Engineering in Computer Science</p>
        <p><strong>Year of University Enrollment:</strong> 2022</p>
        <p><strong>Github:</strong> <a href="https://github.com/bastianc00">github.com/bastianc00</a></p>

      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
    <img src="<%= asset_path('me.jpg') %>" alt="Profile image" class="profile-img img-fluid rounded">
  </div>
</div>